@{
    Layout = null;
}
<html>
<head>
    <link href="/Content/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/Site.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <title>Movie - React.Net</title>
</head>
<body>
<div id="content"></div>
<script src="/scripts/bootstrap.min.js"></script>
<script src="/scripts/jquery-1.10.2.js"></script>
<script src="https://fb.me/react-0.14.0.min.js"></script>
<script src="https://fb.me/react-dom-0.14.0.min.js"></script>
<script src="@Url.Content("~/Scripts/showdown.min.js")"></script>
<script src="@Url.Content("~/Scripts/app/movies.jsx")"></script>
</body>
</html>